# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

#Build
build/
dist/

# Pytest cache
.pytest_cache/

# VectorStore artifacts
*.bin 

# PuppyDB example outputs
test_vectors.bin
test_metadata_store/
